include CHANGES README.rst AUTHORS IDEAS LICENSE Makefile Procfile Vagrantfile
recursive-include tests *
recursive-include docs *
recursive-include examples *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
prune docs/_build

