# django==1.6
Django>=1.6

# Celery, async frameworks
celery>=3.1
django-celery>=3.1

# Feeds, REST
# djangorestframework
feedparser
html5lib
requests
python-dateutil
lxml
pytz==2013d

# Stuff
jinja2
South

# Awesome django admin
django-suit
