{% extends "mailme/web/base.html" %}

{% block body %}

<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to mailme.io!</h1>
  </div>
</div>

<div class="row">
    <div class="large-12 large-centered columns">
        <h3>We&rsquo;re here to optimize your media consumption!</h3>
        <p>To get going, just register, connect one or more accounts and get your first preview of our subscription service right away.</p>
        <div class="row">
            <form method="post" action="/">
                <div class="small-12">
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="{{ form.email.id_for_label }}" class="right inline">Your email address</label>
                        </div>
                        <div class="small-4 columns">
                            <input type="text" id="email-register" placeholder="support@mailme.io">
                        </div>
                        <div class="small-4 columns">
                            <input type="submit" class="email-register tiny radius" value="Register!">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
