{% extends "mailme/web/base.html" %}
{% load i18n %}

{% block content %}
<form action="{% url 'web:register' %}" method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}

        {% trans 'Register' as label_submit %}
        <div class="formfield-submit">
                <button type="submit">
                        {{ label|default:_('submit') }}
                </button>
        </div>
</form>
{% endblock %}
