{% extends "mailme/web/base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to mailme.io!</h1>
</div>
</div>

<div class="row">
    {% if request.user.is_anonymous %}
    <div class="large-12 large-centered columns">
        <h3>We&rsquo;re here to optimize your media consumption!</h3>
        <p>To get going, just sign up, connect one or more accounts and get your first preview of our subscription service right away.</p>
        <div class="row">
        {% include 'mailme/web/login.html' %}
        </div>
    {% else %}
        <div class="large-12 large-centered columns">
            <h3>Bro, you're logged in!</h3>
            <a href="{% url 'mailme-logout' %}">Logout</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock content %}
