{% extends "doit/web/base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to moves.today!</h1>
</div>
</div>

<div class="row">
    {% if request.user.is_anonymous %}
    <div class="large-12 large-centered columns">
        <h3>…</h3>
        <div class="row">
        {% include 'doit/web/login.html' %}
        </div>
    {% else %}
        <div class="large-12 large-centered columns">
            <h3>Bro, you're logged in!</h3>
            <a href="{% url 'doit-logout' %}">Logout</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock content %}
